aiohttp==3.8.3
aiosignal==1.2.0
anyio==3.7.1
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
bitarray==2.6.0
blis==0.7.9
calc==1.0
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.4
colorama==0.4.6
confection==0.0.4
cymem==2.0.7
cytoolz==0.12.0
distlib==0.3.5
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
ethereum-dasm==0.1.4
ethereum-etl==2.1.1
evmdasm==0.1.10
exceptiongroup==1.1.2
filelock==3.8.0
frozenlist==1.3.1
fsspec==2023.6.0
gradio_client==0.2.10
h11==0.14.0
hexbytes==0.3.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
ipfshttpclient==0.8.0a2
Jinja2==3.1.2
jsonschema==4.16.0
langcodes==3.3.0
lru-dict==1.1.8
MarkupSafe==2.1.2
multiaddr==0.0.9
multidict==6.0.2
murmurhash==1.0.9
netaddr==0.8.0
numpy==1.24.1
openai==0.25.0
openpyxl==3.0.10
packaging==23.1
pandas==1.5.2
pandas-stubs==1.5.2.221213
parsimonious==0.8.1
pathy==0.10.1
Pillow==9.4.0
platformdirs==2.5.2
preshed==3.0.8
protobuf==3.19.5
pycryptodome==3.15.0
pydantic==1.10.7
pyrsistent==0.19.1
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0.1
requests==2.28.1
rlp==2.0.1
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
tabulate==0.9.0
thinc==8.1.9
toolz==0.12.0
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1
typer==0.7.0
types-pytz==2022.7.0.0
typing_extensions==4.4.0
urllib3==1.26.12
varint==1.0.2
virtualenv==20.16.3
wasabi==1.1.1
web3==5.31.1
websockets==11.0.3
yarl==1.8.1
